## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled python
*.pyc
__pycache__

# Build and distribute
dist
build
*.egg-info

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project


# PyCharm files
.idea

# Visual Studio Code files
.vscode

# Visual Studio files
.vs
*.user
*.suo
*.sdf
*.opensdf
*.pdb
*.props

# OSX dir files
.DS_Store